@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@font-face {
  font-family: "card";
  src: url("../fonts/SpaceGrotesk-Medium.ttf") format("truetype");
}

body {
  font-family: "card", sans-serif;
}

.card-front {
  background-image: linear-gradient(163.95deg, #6348fe 4.74%, #610595 88.83%);
  position: relative;
  bottom: 68px;
  width: 285px;
  height: 156px;
  border-radius: 6px;
  padding: 19px;
}

.card-back {
  position: relative;
  background-image: url(../images/bg-card-back.png);
  width: 285px;
  height: 156px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: auto;
  padding: 37px;
}

@media only screen and (min-width: 1440px) {
  .card-front {
    width: 447px;
    left: 100px;
    height: 245px;
    padding: 28px 32px;
  }
  .card-back {
    width: 447px;
    padding: 57px;
    height: 245px;
    top: 469px;
    left: 258px;
  }
}
