@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "card";
  src: url("../fonts/SpaceGrotesk-Medium.ttf") format("truetype");
}

body {
  font-family: "card", sans-serif;
}
